<h2>Program</h2>
        <form asp-action="Index"label>
                <label>Nhập số:
                <input type="text" name="Numbers" />
                <input type="submit" value="Gửi" class="btn btn-success" />
                </label>
        </form>
        <h4>@ViewBag.thongBao</h4>